<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de Producto Agregado</title>
  <link rel="stylesheet" href="/css/confirmacionProducto.css">
</head>
<body>
  <div class="confirmacion-container">
    <h1>¡Producto Agregado!</h1>
    <p>El producto se ha agregado correctamente.</p>
    <a href="/" class="volver-enlace">Volver a la Página Principal</a>
  </div>
</body>
</html>
