<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/confirmacionProducto.css">

  <title>Confirmación de Eliminación de Producto</title>
  <!-- Agrega enlaces a tus hojas de estilo si es necesario -->
</head>
<body>
  <h1>Producto Eliminado</h1>
  <p>El producto ha sido eliminado correctamente.</p>
  <!-- Puedes agregar más detalles o estilos según tus necesidades -->

  <!-- Enlace para volver a la página principal -->
  <a href="/">Volver a la página principal</a>
</body>
</html>
