<!-- confirmacionAumento.ejs -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Aumento</title>
    <link rel="stylesheet" href="/css/confirmacionAumento.css"> 
  </head>
<body>
  <h1>Aumento Aplicado</h1>
  <p>El aumento del <%= porcentajeGeneral %>% ha sido aplicado a todos los productos.</p>
  <a href="/" class="volver-enlace">Volver a la página principal</a>
</body>
</html>
