<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/contacto.css">
  <title>Contacto - BetoStore</title>
</head>
<body>
  <%- include(header) %>
  <!-- Sección de datos de contacto -->
  <section class="contacto-datos">
    <h2>Datos de Contacto</h2>
    <ul>
      <li>Teléfono: +123 456 789</li>
      <li>Correo Electrónico: info@betostore.com</li>
      <li>Dirección: Calle Principal, Ciudad, País</li>
    </ul>
  </section>

  <!-- Sección de formulario de contacto -->
  <section class="contacto-formulario">
    <h2>Formulario de Contacto</h2>
    <form action="/contacto/enviar-consulta" method="post" enctype="application/x-www-form-urlencoded">

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>

      <label for="correo">Correo Electrónico:</label>
      <input type="email" id="correo" name="email" required>

      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" required></textarea>

      <button type="submit">Enviar Consulta</button>
    </form>
  </section>
  <%- include('footer') %>

  
</body>
</html>
