<!-- hero.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/hero.css">

  
</head>
<section class="hero-container">
  <div class="hero" id="hero">
    <h1>Bienvenido a BetoStore</h1>
    <a href="/productos">Ver articulos</a>
      </div>
</section>
  
  