<!-- hero.ejs -->
<section class="hero-container">
  <div class="hero" id="hero">
    <h1>Bienvenido a BetoStore</h1>
    <a href="#">Ver articulos</a>
    <script src="/server/js/heroBackground.js"></script>
  </div>

</section>
  
  