<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>BetoStore</title>
</head>
<body>
  <header>
    <div class="logo">
        <img src="/images/logo.png" alt="Logo de tu tienda">
      </div>
      
  <div class="menu">
    <nav>
        
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="hero">
      <h1>Bienvenido a BetoStore</h1>
      <p>Encuentra los mejores productos de anime aquí.</p>
    </div>
    <!-- Contenido adicional de la página principal -->
  </main>
  
  <footer>
    <!-- Pie de página -->
  </footer>
</body>
</html>
