<!-- Sección de presentación -->
<section class="presentacion">
    <div class="presentacion-contenedor">
      <div class="presentacion-imagen">
        <img src="/images/logo.png" alt="Logo de la tienda">
      </div>
      <div class="presentacion-texto">
        <h2>¡Esto es BetoStore!</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget semper velit, non auctor ex.
          Sed eu mauris leo. Duis vel ex id justo ullamcorper venenatis. Vivamus vulputate ligula non arcu
          sodales, ac vestibulum nunc auctor.
        </p>
      </div>
    </div>
  </section>