/* ActualizarProducto.css */

body {
  background-color: #121212; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  max-width: 30%; /* Esto asegura que la imagen no sea más ancha que su contenedor */
  height: auto;    /* Esto permite que la altura se ajuste automáticamente para mantener la proporción */
  display: block;  /* Esto elimina cualquier espacio adicional debajo de la imagen */
  margin: 0 auto;   /* Esto centra la imagen en su contenedor */
}

.formulario-actualizar,
.formulario-busqueda,
.formulario-aumento-general { /* Nueva clase para el formulario de aumento general */
  max-width: 600px;
  margin: 50px auto;
  background-color: #333; /* Fondo formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #61dafb; /* Color react */
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea,
#porcentaje,
#porcentajeGeneral { /* Nueva ID para el campo de porcentaje de aumento general */
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #444; /* Color de fondo campos de entrada */
  color: #fff; /* Color de texto campos de entrada */
  border: 1px solid #61dafb; /* Borde azul react */
  border-radius: 5px;
}

button {
  background-color: #61dafb;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #318ce7; /* Color azul más oscuro al pasar el ratón */
}

.producto-actualizado {
  max-width: 600px;
  margin: 20px auto;
  background-color: #333; /* Fondo producto actualizado */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.producto-actualizado ul {
  list-style: none;
  padding: 0;
}

.producto-actualizado li {
  margin-bottom: 10px;
}

/* Estilos para el enlace de volver a la página principal */
.volver-enlace {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #61dafb;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.volver-enlace:hover {
  background-color: #318ce7; /* Color azul más oscuro al pasar el ratón */
}
