/* eliminarProducto.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: #e74c3c; /* Color rojo */
  }
  
  form {
    max-width: 400px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #c0392b; /* Color rojo más oscuro al pasar el ratón */
  }
  
  .volver-enlace {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db; /* Color azul */
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .volver-enlace:hover {
    background-color: #2980b9; /* Color azul más oscuro al pasar el ratón */
  }
  