header {
    background-color: black;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Estilos para el encabezado fijo */
  .header {
    position: fixed; /* Establece la posición como fija */
    top: 0; /* Fija el encabezado en la parte superior de la ventana del navegador */
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la ventana */
    background-color: black; /* Establece el color de fondo que desees */
    z-index: 100; /* Asegura que el encabezado esté en la parte superior de otros elementos */
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 60px; /* Ajusta el tamaño de tu logo */
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 100px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }