/* Estilos para el hero */
.hero-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #c2b6b6;
    background-size: contain;
    background-position: center;
    transition: all .3s ease-in-out;
    background-image: url('/images/hero/AnimeHero1.jpg'); 
    animation: slider 25s infinite linear;
  }
  .hero {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;*/
    color: #fff;
    /* margin-top: 60px;  */
    background-color: rgba(0, 22, 40, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos adicionales para el contenido del hero */
  .hero h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #fff; /* Color del texto */
    -webkit-text-stroke: 2px black;   
  }
  
  
  /* Estilos adicionales para el contenido del hero */
  .hero a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espacio alrededor del texto */
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 5px; /* Redondear los bordes del contenedor */
    transition: all .3s ease-in-out;
  }
  
  .hero a:hover{
    background-color: #fff;
    color: #333;
  }
  @keyframes slider {
    0%{
      background-image: url('/images/hero/AnimeHero1.jpg');
    }
    20%{
      background-image: url('/images/hero/AnimeHero1.jpg');
    }
    21%{
      background-image: url('/images/hero/AnimeHero2.jpg');
    }
    40%{
      background-image: url('/images/hero/AnimeHero2.jpg');
    }
    41%{
      background-image: url('/images/hero/AnimeHero3.jpg');
    }
    59%{
      background-image: url('/images/hero/AnimeHero3.jpg');
    }
    60%{
      background-image: url('/images/hero/AnimeHero4.jpg');
    }
    79%{
      background-image: url('/images/hero/AnimeHero4.jpg');
    }
    80%{
      background-image: url('/images/hero/AnimeHero5.jpg');
    }
    1000%{
      background-image: url('/images/hero/AnimeHero5.jpg');
    }
    
  }
  