/* Estilos para la sección de productos destacados */
.productos-destacados {
    margin-top: 20px;
    text-align: center; /* Centra los elementos en el contenedor */
  }
  
  .productos-destacados h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  /* Estilos para la sección de productos destacados */
  .producto-destacado {
    position: relative;
    width: calc(30% - 20px); /* Para asegurarte de que haya espacio entre los elementos */
    margin-right: 20px; /* Espacio entre los productos */
    margin-left: 20px; /* Espacio a la izquierda para centrar */
    box-sizing: border-box;
    background: #333; /* Fondo oscuro */
    border: 1px solid #222; /* Borde más oscuro */
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra más oscura */
    display: inline-block; /* Muestra los productos en línea en lugar de uno debajo del otro */
    vertical-align: top; /* Alinea los productos en la parte superior */
    /* Agregar estilos adicionales según tu preferencia */
  }
  
  .producto-destacado img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilo para la transición al pasar el mouse sobre los productos destacados */
  .producto-destacado:hover {
    transform: scale(1.05); /* Leve acercamiento al pasar el mouse */
    border-radius: 10px; /* Redondea los bordes */
    transition: transform 0.3s, border-radius 0.3s; /* Agrega una transición suave */
  }
  
  /* Estilo para la etiqueta de descuento */
  .etiqueta-descuento {
    position: absolute;
    top: 15%; /* Ajusta la posición vertical */
    left: 0;
    background-color: #333; /* Fondo oscuro */
    color: white;
    padding: 5px 10px;
    font-size: 1.5em;
    transform: rotate(-45deg);
    transform-origin: left top;
    z-index: 2; /* Asegura que la etiqueta esté sobre la imagen */
    width: 35%;
    height: 10%;
  }
  
  .producto-destacado p {
    font-size: 16px;
  }
  
  .producto-destacado a {
    display: inline-block;
    background: #555; /* Color de fondo más oscuro */
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  .producto-destacado a:hover {
    background: #444; /* Color de fondo más oscuro al pasar el mouse */
  }