/* public/css/styles.css */

body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: black;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 60px; /* Ajusta el tamaño de tu logo */
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  
  /* public/css/styles.css */

/* Estilos para el hero */
.hero {
    background-image: url('/images/hero-background.jpg'); /* Ruta de la imagen de fondo */
    background-size: contain;
    background-position: center;
    height: 1000px; /* Ajusta la altura según tus necesidades */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    color: #fff;
  }
  
  /* Estilos adicionales para el contenido del hero */
  .hero h1 {
    margin-left: 30px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Otros estilos */
  }
  
  
  .hero p {
    margin-left: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  .presentacion-contenedor {
    display: flex; /* Utilizar flexbox para alinear elementos en fila */
    align-items: center; /* Alinear verticalmente los elementos al centro */
  }
  
  .presentacion-imagen {
    flex: 1; /* La imagen ocupa la mitad del espacio disponible */
  }
  
  .presentacion-texto {
    flex: 1; /* El texto ocupa la mitad del espacio disponible */
    padding: 20px; /* Agregar un espacio entre la imagen y el texto */
  }
  
  /* Estilos para los productos */
  .logo-pequeno {
    display: flex;
    align-items: center; /* Alinear verticalmente el logo */
    height: 50px; /* Ajustar la altura según sea necesario */
  }
  
  .logo-pequeno img {
    max-height: 100%; /* La imagen se ajustará al alto de su contenedor */
  }
  
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .producto {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px; /* Agregar un padding superior */
  }
  
  
  .producto img {
    max-width: 100%;
    max-height: 800px; /* Establece una altura máxima para igualar el tamaño */
    width: auto;
    height: auto;
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
  }
  
  
  .descripcion {
    margin-top: 10px;
  }
  
  /* Limpiar la fila después de tres elementos */
  .clearfix {
    clear: both;
  }
  
  .descripcion {
    margin-bottom: 20px;
  }
  
  .descripcion h2 {
    font-size: 24px;
  }
  .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según sea necesario */
  }
  .buscador input[type="text"] {
    font-size: 24px; /* Ajusta el tamaño de fuente según sea necesario */
    width: 300px; /* Ajusta el ancho según sea necesario */
    padding: 10px; /* Añade un relleno para hacerlo más grande */
  }
  
  .buscador button {
    font-size: 18px; /* Ajusta el tamaño de fuente según sea necesario */
    padding: 10px 20px; /* Añade un relleno para hacerlo más grande */
  }
    
  
  